.footer {
   width: 100vw;
   min-width: 1000px;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   bottom: 0;
   border-top: 2px solid rgb(215, 215, 215);
   background-color: #f5f5f1;
   font-size: 14px;
   font-family: 'Lato', sans-serif;
}
/*----------------------TOP DIV-*/
.link-lists-top {
  min-width: 1000px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

i {
  padding: .5em;
}

ul {
   margin: 2em 3em 3em 3em;
}

li {
   list-style-type: none;
   line-height: 2em;
}

.currencyInfo {
  width: 60vw;
  min-width: 1000px;
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px #dcdcd9;
}

.currencyContainer {
   width: 350px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: .5em 0 .5em 0;
   margin-bottom: 2em;
   font-size: 90%;
   border: solid .5px #dcdcd9;
   border-radius: 2px;
}

.flagIcon {
   border: solid 1px grey;
   border-radius: 150px;
   width: 22px;
   height: 22px;
   background-image: url('../assets/flag-icon.png');
   background-position: center;
   background-size: cover;
}

.currencyDetails {
   padding-left: 1em;
   border-left: solid grey 1px;
}

/*---------------------BOTTOM DIV-*/
.meta-bottom {
   min-width: 1000px;
   width: 60vw;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1em;
   margin: 1em 0 1.5em 0;
}

#logo-and-slogan {
   width: 40%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

#logo {
   color: #f56400;
   width: 5em;
   height: 3em;
   background: url('../assets/etsy.svg') center/cover;
   padding: .5em;
   margin-right: 1em;
}

#help-button {
   background-color: white;
   border: solid 1px #dcdcd9;
   border-radius: 3px;
   padding: .25em 2em;
   font-size: 90%;
}
