
  .ItemCard {
    width: 229.5px;
    height: 229.25px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    /*border: 1px solid #E1E3DF;*/
    box-shadow: 0px 0px 1px 0px #E1E3DF;
  }

  .ItemCard a {
    text-decoration: none;
  }

  .ItemCard:hover {
    box-shadow: 0px 0px 2px 0px #A1A39F;
  }


  .cardImage {
    width: 227.5px;
    height: 182.25px;
    background-size: cover;
    background-position: center;
  }

  .titlePriceRow {
    width: 217.5px;
    height: 47px;
    overflow: hidden;
    margin: auto;
  }

  .cardTitle {
    width: 5000px;
    height: 14px;
    font-size: 13px;
    text-decoration: none;
    justify-content: space-between;
    margin-top: 7px;
    margin-bottom: 4px;
    white-space: nowrap;
  }

  .cardSellerPrice {
    width: 217.5px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .seller {
    float: left;
    font-size: 13px;
    color: #777;
  }

  .price {
    float: right;
    font-size: 13px;
    font-weight: bold;
  }
