.TrendingPage {
  min-width: 1000px;
  width: 100vw;
  min-height: 100vh;
  background-color: #EFEFEB;
}

.Banner {
  width: 100%;
  height: 180px;
  position: relative;
  display: inline-block;
  background-image: url('../assets/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2 {
  width: 650px;
  margin-left: 10vw;
  margin-top: 53px;
  font-size: 1.7em;
  color: white;
  font-family: "Bitter";
}

h1 {
  font-family: "Bitter";
  display: block;
  font-size: 1.5em;
  margin-left: 10vw;
}

.productsDiv {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.pageSelector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0;
  padding-bottom: 15px;
}

.limitHeader {
  padding: 5px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: grey;
  opacity: .5;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: inherit;
  min-width: inherit;
}

.linkButton {
  border: none;
  outline: none;
  background: transparent;
  color: grey;
  font-size: 14.4px;
  font-weight: bold;
}

.activePage {
  color: #354E67;
}

.linkButton:hover {
  color: black;
  cursor: pointer;
}

.pageNavArrows {
  display: inline-block;
  text-align: center;
  width: 29px;
  height: 29px;
  font-weight: bold;
  font-size: 14px;
  margin: 8px;
  border: none;
  border-radius: 150px;
  outline: none;
  color: white;
  background-color: #f56400;
}
.pageNavArrows:hover {
  cursor: pointer;
}
